<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/Multiplixe/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="renebizelli" />
      <add key="ClearTextPassword" value="cec388ad6ec11c62e04dc0978475723559ab9fe7" />
    </github>
  </packageSourceCredentials>
</configuration>