<!-- <header class="falkol-header">
  <div class="falkol-menu-container">
    <ion-menu-button style="--color:#fff"></ion-menu-button>
  </div>
  <div class="falkol-notifications" style="display: none;">
    <a href="">
      <img class="img-menu" src="/assets/img/icon_notifications.png" alt="">
    </a>
  </div>
</header> --> 

<header class="falkol-header falkol-header-menu">
  <div class="falkol-menu-container">
    <ion-menu-button style="--color:#fff"></ion-menu-button>
  </div>
  <div class="falkol-notifications" style="display: none;">
      <a href="">
          <img class="img-menu" src="/assets/img/icon_notifications.png" alt="">
      </a>
  </div>
</header>