<ion-content>
  <div class="falkol-forgot falkol-bg" style="background-image: url('/assets/img/bg.png');">

    <main class="falkol-main">
      <div class="falkol-title">
        <h2>Redefinir senha</h2>
      </div>

      <div class="falkol-form" *ngIf="steps.is('1')">

        <div class="form-group">
          <p class="form-notification" *ngIf="messagesStep1.is('auth/invalid-action-code')">
            Soliticação inválida.<br>
            Para redefinir sua senha, faça uma nova solicitação.
          </p>
        </div>
        <div class="form-buttons">
          <div class="form-btn-group">
            <a routerDirection="root" routerLink="/esqueci-minha-senha">
              <button type="button" class="form-btn form-btn-submit">
                Redefinir
              </button>
            </a>
          </div>
        </div>
      </div>

      <div class="falkol-form" *ngIf="steps.is('2')">
        <div class="form-group">
          <input type="password" id="password" class="form-input" placeholder="&nbsp;" required
            [(ngModel)]="entries.password.value">
          <label for="password" class="form-label">Nova senha</label>

          <img class="form-validation icon-invalid" src="/assets/img/icon_invalid.png" alt=""
            *ngIf="isInvalidStatus(entries.password)">
        </div>

        <div class="form-group">

          <p class="form-notification" *ngIf="messagesStep2.is('auth/invalid-action-code')">
            Soliticação inválida. <br />
            Para redefinir sua senha, faça uma nova solicitação <a routerDirection="root"
              routerLink="/esqueci-minha-senha">clicando aqui</a>.
          </p>

          <p class="form-notification" *ngIf="messagesStep2.is('auth/argument-error')">
            Informe a nova senha e sua confirmação.
          </p>

          <p class="form-notification" *ngIf="messagesStep2.is('auth/weak-password')">
            Sua nova senha precisa ter no mínimo 6 caractéres.
          </p>

        </div>

        <div class="form-group">
          <input type="password" id="password-confirm" class="form-input" placeholder="&nbsp;" required
            [(ngModel)]="confirmPassword">
          <label for="password-confirm" class="form-label">Confirmar a nova senha</label>
          <img class="form-validation icon-invalid" src="/assets/img/icon_invalid.png" alt=""
            *ngIf="isDifferentCode(entries.password)">
        </div>

        <div class="form-group">
          <p class="form-notification">
            <span *ngIf="isDifferentCode(entries.password)">A confirmação de senha não é igual a senha informada.</span>
          </p>
        </div>

        <div class="form-buttons">
          <div class="form-btn-group">
            <button type="button" class="form-btn form-btn-submit" (click)="reset()">
              Enviar
            </button>
          </div>
        </div>
      </div>

      <div class="falkol-form" *ngIf="steps.is('3')">
        <div class="form-group">
          <p>Sua senha foi alteradao com sucesso</p>
        </div>
        <div class="form-buttons">
          <div class="form-btn-group">
            <a routerDirection="root" routerLink="/login">
              <button type="button" class="form-btn form-btn-submit">
                Login
              </button>
            </a>
          </div>
        </div>
      </div>

    </main>
  </div>

</ion-content>