<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/Multiplixe/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="renebizelli" />
      <add key="ClearTextPassword" value="ccd6f3f9eeffdb3d7d2fc8d8304068d1fea97d73" />
    </github>
  </packageSourceCredentials>
</configuration>