<main>
    <div>
        <h2>Redefinir senha</h2>
    </div>

    <div class="form" *ngIf="steps.is('1')">

        <div class="form-group">
            <p class="form-notification" *ngIf="messagesStep1.is('auth/invalid-action-code')">
                Sua soliticação para alterar expirou ou é inválida. <br />
                Para redefinir sua senha, faça uma nova solicitação no aplicativo. 
            </p>
        </div>
    </div>

    <div class="form" *ngIf="steps.is('2')">
        <div class="form-group">
            <input type="password" id="password" class="form-input" placeholder="&nbsp;" required
                [(ngModel)]="entries.password.value">
            <label for="password" class="form-label">Nova senha</label>

            <img class="form-validation icon-invalid" src="/assets/img/icon_invalid.png" alt=""
                *ngIf="isInvalidStatus(entries.password)">
        </div>

        <div class="form-group">

            <p class="form-notification" *ngIf="messagesStep2.is('auth/invalid-action-code')">
                Sua soliticação para alterar expirou ou é inválida. <br />
                Para redefinir sua senha, faça uma nova solicitação no aplicativo. 
            </p>

            <p class="form-notification" *ngIf="messagesStep2.is('auth/argument-error')">
                Informe a nova senha e sua confirmação.<br>
                Sua nova senha precisa ter no mínimo 6 caractéres.
            </p>

            <p class="form-notification" *ngIf="messagesStep2.is('auth/weak-password')">
                Sua nova senha precisa ter no mínimo 6 caractéres.
            </p>

        </div>

        <div class="form-group">
            <input type="password" id="password-confirm" class="form-input" placeholder="&nbsp;" required
                [(ngModel)]="confirmPassword">
            <label for="password-confirm" class="form-label">Confirmar a nova senha</label>
            <img class="form-validation icon-invalid" src="/assets/img/icon_invalid.png" alt=""
                *ngIf="isDifferentCode(entries.password)">
        </div>

        <div class="form-group">
            <p class="form-notification">
                <span *ngIf="isDifferentCode(entries.password)">A confirmação de senha não é igual a senha
                    informada.</span>
            </p>
        </div>

        <div class="form-buttons">
            <div class="form-btn-group">
                <button type="button" class="form-btn form-btn-submit" (click)="reset()">
                    Enviar
                </button>
            </div>
        </div>
    </div>

    <div *ngIf="steps.is('3')">
        <div class="form-group">
            <p>Sua senha foi alteradao com sucesso</p>
        </div>
    </div>

</main>