<ion-header>
  <ion-toolbar>
    <ion-title>Sobre o Social Game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-text>

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi arcu est, viverra quis erat eu, lacinia suscipit odio. Suspendisse non diam a leo ullamcorper convallis. Curabitur iaculis nibh quis arcu placerat, et pharetra neque tincidunt. Nullam tincidunt maximus massa ac suscipit. Aliquam a massa arcu. Nullam enim lectus, dapibus eget massa ac, volutpat ultricies metus. Suspendisse faucibus, velit vitae viverra elementum, magna nunc consectetur dui, id bibendum sem erat lacinia sem.

  </ion-text>

  <br /> 
  <br /> 

  <a routerDirection="root" routerLink="/cadastro">Cadastre-se</a>


</ion-content>
