<ion-content>

  <br>
  <br>
  <br>
  <br>

  <ion-text>

    <b>1.2.0 - 21/07/2020</b><br />
    <ul>
      <li>Iniciando testes de instalação do APP PWA</li>
    </ul>

    <hr />    

    <b>1.1.1 - </b><br />
    <ul>
      <li>Tela de cadastro: Limpar campos de cadastro</li>
    </ul>

    <hr />

    <b>1.1.0 - 09/07/2020</b><br />
    <ul>
      <li>Integração com Firebase</li>
      <li>Cadastro com Firebase</li>
      <li>Autenticação com Firebase</li>
      <li>Preparação do APP para lidar com informações realtime</li>
      <li>Preparação do App para recebimento de Push Notification</li>
      <li>Redefinição de senha</li>
      <li>Identificação de usuário logado na tela de login</li>
    </ul>

    <hr />

    <b>1.0.0</b><br />
    <ul>
      <li>Cadastro de usuários</li>
      <li>Autenticação</li>
      <li>Dashboard exibindo level e pontuação</li>
      <li>Tela inicial para conexões com redes sociais</li>
      <li>Tela de conexões com redes sociais</li>
      <li>Conexão com Facebook</li>
      <li>Conexão com Twitter</li>
      <li>Conexão com Twitch</li>
      <li>Logout</li>
    </ul>
  </ion-text>

</ion-content>